.App {
  text-align: center;
}

header {
  background-color: #c3c3c3;
}

header, main {
  padding: 15px 25px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
